.container {
  margin-top: 100px;
  padding: 2rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f8fafc;
}

.card {
  width: 600px;
  height: auto;
  min-height: 50vh;
  padding: 2.5rem;

  border-radius: 1rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
  border: 1px solid #e2e8f0;

  background: white;
}

.header {
  margin-bottom: 2rem;

  text-align: center;
}

.title {
  margin-bottom: 0.5rem;

  font-size: 1.5rem;
  font-weight: 700;
  color: #0f172a;
}

.subtitle {
  font-size: 0.875rem;
  color: #64748b;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radioWrapper {
  display: flex;
  gap: 16px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 0.875rem;
  font-weight: 500;
  color: #334155;

  cursor: pointer;
}

.nativeRadio {
  width: 16px;
  height: 16px;

  accent-color: #1b439b;

  background-color: white!important;

  cursor: pointer;
}

.multipleInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #334155;
}

.checkmark {
  border-color: #000;
}

.input {
  height: 3rem;
  padding: 0.75rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;

  font-size: 0.875rem;
  color: #334155;

  background-color: white;

  outline: none;

  transition: all 0.2s;
}

.phoneInput {
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;

  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;

  background: white;

  color: #334155;

  overflow: hidden;
}

.phoneInput :global(.PhoneInputCountry) {
  max-width: 40%;
  padding: 0 0.75rem;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;

  border-right: 1px solid #e2e8f0;
}

.phoneInput :global(.PhoneInputCountrySelect) {
  max-width: 80%;
}

.phoneInput :global(.PhoneInputCountryIcon) {
  width: 20px;
  height: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.phoneInput :global(.PhoneInputInput) {
  height: 100%;
  padding: 0 1rem;

  flex: 1;

  border: none;

  font-size: 0.875rem;

  background: transparent;

  outline: none;
}

:global(.heroui-date-input input) {
  height: 3rem;
  padding: 0.75rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
  font-size: 0.875rem;
  color: #334155;
}

:global(.heroui-select-trigger) {
  height: 3rem;
  padding: 0.75rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
  font-size: 0.875rem;

  background-color: white;
}

.input:focus {
  border-color: #2563eb;

  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.1);
}

.professionalInputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  border: 1px solid #cbd5e1;
  transition: all 0.2s;

  background-color: white;

  font-size: 0.875rem;
  color: #334155;

  outline: none;
  resize: none;
}

.button {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75rem;

  border-radius: 9999px;
  border: none;

  font-weight: 600;
  color: white;

  background: linear-gradient(135deg, #2563eb 0%, #0ea5e9 100%);

  transition: transform 0.1s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-1px);
  filter: brightness(1.1);
}

.button:active {
  transform: translateY(0);
}

.footer {
  margin-top: 1.5rem;

  text-align: center;
  font-size: 0.875rem;
  color: #64748b;
}

.link {
  margin-left: 0.25rem;

  text-decoration: none;
  font-weight: 500;
  color: #2563eb;
}

.link:hover {
  text-decoration: underline;
}

.forgotLink {
  margin-top: -0.5rem;

  font-size: 0.875rem;
  color: #64748b;
  text-align: right;

  text-decoration: none;
}

.forgotLink:hover {
  color: #2563eb;
}
.cardNoToken {
  width: 100%;
  max-width: 600px;
  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-radius: 1rem;
  border: 1px solid #e2e8f0;

  background: white;

  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

.cardNoToken a {
  max-width: 100px;

  text-align: center;
}
.noToken {
  color: #ff0000;
}
