@import "tailwindcss";
@import "@heroui/styles";
@import "react-day-picker/dist/style.css";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

.rdp {
  font-size: 0.85rem;
}

.rdp-months {
  padding: .5rem;

  border-radius: 1rem;
  border: 1px solid #e5e7eb;

  color: #111827;
}

.rdp-day_button {
  width: 34px;
  height: 34px;
  font-size: 0.85rem;
}

.rdp-chevron {
  fill: #006fee;
}

.rdp-caption_label {
  text-transform: capitalize;
}

.rdp-selected .rdp-day_button {
  border: 3px solid#006fee;
}

.rdp-today:not(.rdp-outside) {
  color: #006fee;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
