.container {
  width: 100%;
  height: 64px;
  padding: 0 24px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #e5e7eb;

  background-color: #ffffff;
}

.left {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 32px;

  flex: 1;
  display: flex;
  gap: 12px;
}

.navItem {
  padding: 8px 14px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;
  color: #334155;
  text-decoration: none;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.navItem:hover {
  background-color: #f1f5f9;
}

.active {
  color: #0369a1;
  font-weight: 600;

  background-color: #e0f2fe;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoutButton {
  padding: 1rem;
}
